* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    background: repeating-radial-gradient(#f3f3f3, #f3e9e9);
}

#container {
    background: repeating-radial-gradient( #f3e9e9, #f3f3f3);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items_menu {
    display: inline-block;
    margin: 15px;
}

.im {
    text-decoration: none;
    color: #555;
    font-size: 20px;
}

.logo {
    margin-top: 8px;
}

.user_do_something {
    margin-top: 10px;
}

.search {
    height: 30px;
    width: 180px;
    font-size: 18px;
    border: 2px solid #555;
    border-radius: 5px;
    margin-right: 20px;
}

.tittle_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    /* border: 0.5px solid #555; */
}

.items_content {
    width: 600px;
    height: 350px;
}

.tittle_items_content {
    display: flex;
    flex-direction: column;
    margin: 40px 40px;
    justify-content: space-around;
}

.tic1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.tic2 {
    font-size: 20px;
}

.tic3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tic4 {
    width: 40%;
    height: 40px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3fae66;
    color: #fff;
}

.tic5 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
}