body {
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: #333;
}

* {
    color:#bbb;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #808080;
}

.header {
    background-color: #333;
    box-shadow: 0 0 1px 0 #adadad;
    border-bottom: none;
    overflow: hidden;
}

.user-avatar {
    background: rgba(0,0,0,.25);
}

.tray.collection{
    background-color:black;
}

.navbar-user, .navbar-menu {
    background-color: #000000d1;
}

.search-box input {
    background-color: transparent;
    color: #c3c3c3;
    border-color: #e5e7eb;
}

.search-box .fa {
    color: #c3c3c3;
}

.ranking-item-top {
    -webkit-text-fill-color: black;
}

.title-news {
    background-color: #212121;
}

.tray-content-news{
    background-color: #064050;
}

.preview-content {
    background-color: #1a1a1a;
    border: 1px solid #2e2e2e;
}

.player-type {
    color:white;
}