@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    color:#333;
    font-size: 14px;
    line-height: 1.428571429;
}

input {
    line-height: normal;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 99;
    border-bottom: 1px solid #dadada;
    box-shadow: 0 0 1px 0 #adadad;
    display: block;
}

.header-img {
    justify-content: space-between;
    padding-right:50px;
}

.header-img img {
    max-width: 180px;
    margin: 10px;
}

.header-menu {
    overflow: visible;
    margin-right: 20px;
}

.items-center {
    align-items: center;
}

.header .header-container {
    display: flex;
    width: 100%;
    margin: auto;
    position: relative;
}

.header-menu-items {
    font-size: 14px;
    line-height: 70px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .3s;
    font-weight: 500;
    display: inline;
    margin: 0 8px;
    padding: 5px;
}

.header-menu-items:hover a {
    color: #d60000;
}

.header-search {
    position: absolute;
    width: 170px;
    display: inline;
    margin-left: 100px;
    padding-top: 17px;
}

.search-box input {
    border: 1px solid #dadada;
    border-radius: 15px;
    display: block;
    font-size: 13px;
    height: 30px;
    padding-left: 10px;
    padding-right: 30px;
    width: 100%;
}

.header-search .fa {
    color: #dadada;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -32px;
    text-align: center;
    top: 22px;
    width: 20px;
}

.header-search .fa:hover {
    color: #333;
}

.header-user {
    position: absolute;
    right: 0;
    float: right;
    margin: 13px 10px;
    height: 70px;
    justify-content: flex-end;
}

.header-user .user-login {
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.user-avatar {
    background: #f3f4f6;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 40px;
    overflow: hidden;
    position: relative;
    transition: width .5s,height .5s;
    width: 40px;
}

.user-avatar:hover {
    box-shadow: 0 0 5px rgb(150, 150, 150);
}

#change-theme {
    margin-right: 10px;
}

.container {
    margin: auto;
    overflow: hidden;
    padding: 70px 0;
    position: relative;
}

.tray {
    clear: both;
    margin-top: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.tray-title {
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;
    text-transform: uppercase;
}

.tray-title h5 {
    font-size: 20px;
    height: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 40px;
    margin: 20px 10px 20px 20px;
}

.tray-title a{
    color:#d60000;
}

.tray-title:hover a {
    color:#f60000;
}

.tray-item-new:hover .tray-item-new-title {
    color:#d60000;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-info {
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(0,0,0,.39) 34%,#000 87%);
}

.slideshow-info-title {
    color: #f2f2f2;
    font-size: 19px;
    font-weight: 800;
}

.slideshow-info-view {
    color: #f2f2f2;
    font-size: 13px;
}

.slideshow-animation {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideshow-items img {
    width: 100%;
    vertical-align: middle;
}

.slideshow-items {
    display: none;
}

.tray-content {
    overflow: hidden;
    position: relative;
    margin:10px;
}

.tray-content-new-first {
    width: 45%;
    float: left;
    height: 300px;
    margin:0px 10px;
}

.tray-content-new-first img {
    width: 100%;
    border-radius:5px;
    transition: transform .3s;
}

.tray-item-description {
	height: 60px;
	border-radius: 0px 0px 5px 5px;
	margin: -64px 0px;
    background-image: linear-gradient(271deg,hsla(0,0%,100%,0),rgba(0,0,0,.39) 34%,#000 87%);
    position: absolute;
    padding-right: 230px;
}

.tray-item-new-view {
    font-size: 10px;
    font-weight: normal;
}

.tray-item-new-title {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: Ellipsis;
}

.tray-item-view {
    color: #eee;
    font-size:12px;
    padding: 10px;
    margin-bottom: -20px;
}

.tray-item-title {
    color: #eee;
    font-size: 16px;
    padding:10px;
}

.tray-content-new-list {
    width: 52%;
	float:right;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	flex-direction: row;
	height: 300px;
}

.tray-item-new {
    width: 29%;
    height: auto;
    margin-right: 10px;
    float: left;
    border-radius: 5px;
}

.tray-item-new img {
    width: 100%;
    border-radius: 5px;
}

#film-new {
    display: block;
}

.tray-item {
    background: #ccc;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 18%;
}

#film-today {
    display: flex;
    justify-content: space-around;
}

.tray-item-thumbnail {
    height: 100%;
    transition: transform .3s;
    width: 100%;
}

.tray-item-today-description {
    padding: 50px 5px 5px;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),rgba(0,0,0,.39) 34%,#000 87%);
    bottom: 0;
    color: #eee;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
}

.tray-item-quality {
    background: #d60000;
    border-radius: 2px;
    color: #eee;
    font-size: 12px;
    padding: 0 2px;
}

.tray-item-today-title {
    font-size: 16px;
    max-height: 44px;
    overflow: hidden;
    margin-bottom: 2px;
    text-align: left;
    color:#eee;
}

.tray-film-views {
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    color:#eee;
}

.tray-film-episodes {
    bottom: 5px;
    position: absolute;
    font-size: 12px;
    color: #eee;
    right: 15px;
}

.tray-item-audio {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    color: #d60000;
    left: 10px;
    padding: 0 5px;
    position: absolute;
    top: 10px;
    display: block;
}

.tray-item:hover .tray-item-thumbnail {
    transform: scale(1.2);
}

.tray-item:hover .tray-item-audio {
    display: none;
}

.tray-item:hover .tray-item-play-button {
    display:block;
}

.tray-item-play-button {
    top:10px;
    left:10px;
    position: absolute;
    display: none;
    background: rgba(0,0,0,.6);
    border-radius: 100%;
    transition: opacity .3s,display .3s;
    box-shadow: 0 0 10px #fff;
    height: 60px;
    width: 60px;
}

.tray-item-play-button .fa {
    color:#fff;
    font-size: 30px;
    line-height: 60px;
    padding-left:20px;
}

.tray.collection {
    background-color: #adadad;
    display: block;
    width: 100%;
    border-radius: 15px;
    padding-bottom: 20px;
}

.tray-title.has-background h5 {
    text-align: center;
}

.collection-item {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 24%
}

.collection-item img {
    width: 100%;
    transition: 0.4s;
}

.collection-item:hover img {
    transform: scale(1.2);
}

.collection-container {
    margin-left:10px;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/*Trên giao diện PC (Giao diện ở TV)*/
@media screen and (min-width: 1336px) {
    .header .header-container {
        width: 1310px;
    }
    .container {
        width: 1090px;
    }
}

/*Giao diện Ipad ngang (1024 x 768)*/
@media screen and (max-width: 1024px){
    .hidden-ipad {
        display: none;
    }
    .tray.collection {
        border-radius:0px;
    }
}

/*Giao diện Ipad dọc (768 x 1024)*/
@media screen and (max-width: 768px){
    .header-menu {
        display: none;
    }

    .slideshow {
        display: none;
    }

    .tray-content-new-list {
        width: 100%;
        display: flex;
        overflow-x: auto;
        height: 200px;
        flex-wrap:unset;
    }

    .tray-content-new-first {
        width:96%;
        height:auto;
    }

    .tray-item-new {
        width: 200px;
        height:auto;
        margin: 15px 10px 10px 11px;
        float: left;
        border-radius: 5px;
        flex-shrink:0;
        overflow:hidden;
    }

    #film-today {
        flex-wrap: wrap;
        flex-direction: row;
    }

    #

    .tray-item {
        width:48%;
    }

}

/*Giao diện Tablet (480 x 640)*/
@media screen and (max-width: 480px){



}

/*Giao diện Iphone(480 x 640)*/
@media screen and (max-width: 320px){

}

/*Giao điện smartphone thường*/
@media screen and (max-width: 240px){

}